* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(30deg, #182C51, #09101E);
  color: white; 
  text-align: center;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top left;
}

.starts {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.1),
  0 0 0 8px rgba(255,255,255,0.1), 
  0 0 20px rgba(255,255,255,1); 
  animation: animate 3s linear infinite;
}

.starts::before
{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff,
  transparent);
}
@keyframes animate 
{
  0%
  {
    transform: rotate(315deg) translateX(0); 
    opacity: 1;
  }
  70%
  {
    opacity: 1;
  }
  100%
  {
    transform: rotate(315deg) translateX(-1000px); 
    opacity: 0;
  }
}
.starts:nth-child(1)
{
  top:0;
  right:0;
  animation-delay: 0;
  animation-duration: 4s; 
}
.starts:nth-child(2)
{
  top:900px;
  right:900px;
  nav-right: initial;
  animation-delay: 0s;
  animation-duration: 5s; 
}

#container {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}


h1 {
  font-family: 'Yatra One', cursive;
  font-size:50px;
  margin-top: -80px;
  background: -webkit-linear-gradient(#f1fa8c, #EDDE5D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content h1 
{
  position: absolute;
  margin-top: 120px;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  font-family: 'Yatra One', cursive;
}

p {
  margin-bottom: 40px;
  opacity: 0.7;
  margin-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: 'Yatra One', cursive;
}

input, button {
  display: block;
  width:80%;
  padding: 20px;
  font-size: 20px;
  border-radius: 4px;
  color: black; 
}

input {
    position: relative;
    margin-top: 80px;
    font-family: 'Yatra One', cursive;
    font-size: 20px;
    margin-bottom:1rem;
    box-shadow: none;
    outline:none;
    border:0;
}

#inputPergunta::placeholder {
  color:rgb(233, 225, 225);
}

#inputPergunta 
{
background: transparent;
width: 100%;
height: 50%;
color: rgb(233, 225, 225); 
border:none; 
text-align: center;
}

button {
  margin-top: -180px;
  border: none; 
  background-color: transparent;
  color: rgb(243, 237, 237); 
  width: 150px;
  font-weight: bold;
  margin-left: 100px;
  font-family: 'Yatra One', cursive;
  position:absolute;
  margin-left: 50px;
}

/* pseudo-class */
button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

#resposta {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;  
width: 250px;
height: 250px;
margin:30px; 
box-shadow: 20px 20px 50px rgba(0,0,0,0.5); 
border-radius: 50%;
background: rgba(185, 182, 182, 0.1); 
overflow: hidden;
border-top: 1px solid rgba(255,255,255,0.5);
border-left: 1px solid rgba(255,255,255,0.5); 
backdrop-filter: blur(5px);
color: rgb(246, 241, 241); 
font-family: 'Yatra One', cursive;
margin-left: 200px;
padding: 10px;
}

#resposta::before{
  background-color: black;
}
.moon
{
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: linear-gradient(30deg, #13223f, #0e1a30);
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: flex-start;
  align-items: stretch;
}

.moon:before 
{
  content: "";
  position:absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #f1fa8c;
  animation: 3.2s cresent linear infinite alternate;
  z-index: -1; 
  display: block;
}
@keyframes cresent{
  0%{
    transform: translate(-30px, 30px) scale(0.9);
    box-shadow: none;
  }
  50% {
      transform: translate(0,0) scale(1.02); 
      box-shadow: 0 0 10px #e6e2e1, 0 0 80px #f1fa8c
  }
  100%{
    transform: translate(30px, -30px) scale(0.9);
    box-shadow: none;
  }
}

.number {
  position: absolute;
  top: -10px;
  right: 35px;
  font-size: 4em;
  color: rgba(255,255,255,0.05);
  pointer-events: none;
}

.circle ion-icon
{
  font-size: 25vh;
  transition: 0.5s ease-in-out;
}

.circle:hover ion-icon
{
  filter: drop-shadow(0 0 10px #f1fa8c)
  drop-shadow(0 0 40px #f1fa8c)
  drop-shadow(0 0 65px #f1fa8c);
}
.container-2
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: stretch;
}

@media only screen and (max-width: 375px) {
  .container-2 {
display: flex;
flex-direction:column;
flex-wrap: nowrap; 
justify-content: space-between; 
align-items: center;
  }
  
}

@media only screen and (max-width: 375px) {
  #buttonPerguntar {
align-items: center;
margin-left: 10px;
margin-top: -130px;
font-size: 18px;
  }
}

@media only screen and (max-width: 375px) {
  #buttonPerguntar {
/* background-color: limegreen; */
align-items: center;
margin-left: 30px;
margin-top: -130px;
font-size: 18px;
  }
  
}
